body {
  background-color: slategrey;
}

.character-card {
  display: inline-block;
}

.card-img-top,
img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  object-position: 0 15;
  margin: 0 auto;
}
